{% extends 'base.html.twig' %}

{% block body %}
    <h1>People list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Who</th>
                <th>Name_ru</th>
                <th>Who_ru</th>
                <th>Name_en</th>
                <th>Who_en</th>
                <th>Foto</th>
                <th>Mail</th>
                <th>Phone</th>
                <th>Facebook</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td><a href="{{ path('people_show', { 'id': person.id }) }}">{{ person.id }}</a></td>
                <td>{{ person.name }}</td>
                <td>{{ person.who }}</td>
                <td>{{ person.nameru }}</td>
                <td>{{ person.whoru }}</td>
                <td>{{ person.nameen }}</td>
                <td>{{ person.whoen }}</td>
                <td>{{ person.foto }}</td>
                <td>{{ person.mail }}</td>
                <td>{{ person.phone }}</td>
                <td>{{ person.facebook }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('people_show', { 'id': person.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('people_edit', { 'id': person.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('people_new') }}">Create a new person</a>
        </li>
    </ul>
{% endblock %}
