{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listits list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Name_ru</th>
                <th>Name_en</th>
                <th>About</th>
                <th>About_ru</th>
                <th>About_en</th>
                <th>Locales</th>
                <th>Url</th>
                <th>Is_activated</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Foto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for listit in listits %}
            <tr>
                <td><a href="{{ path('l_show', { 'url': listit.url }) }}">{{ listit.id }}</a></td>
                <td>{{ listit.name }}</td>
                <td>{{ listit.nameru }}</td>
                <td>{{ listit.nameen }}</td>
                <td>{{ listit.about }}</td>
                <td>{{ listit.aboutru }}</td>
                <td>{{ listit.abouten }}</td>
                <td>{{ listit.locales }}</td>
                <td>{{ listit.url }}</td>
                <td>{% if listit.isactivated %}Yes{% else %}No{% endif %}</td>
                <td>{% if listit.createdat %}{{ listit.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if listit.updatedat %}{{ listit.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ listit.foto }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('l_show', { 'url': listit.url }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('l_edit', { 'id': listit.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('l_new') }}">Create a new listit</a>
        </li>
    </ul>
{% endblock %}
