{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div class="container background-white">
            <div class="row margin-vert-30">
                <!-- Main Column -->
                    <div-- class="blog-post">
                        <div class="blog-item-header">
                            <h2>
                                {{ listit.name }}
                            </h2>
                            <!-- Date -->
                            <!--div class="blog-post-date">
                                <a href="#">
                                  {#  {% if listit.updatedat %}{{ listit.updatedat|date('Y-m-d') }}
                                    {% else %}{{ listit.createdat|date('Y-m-d') }}
                                    {% endif %}#}</a>
                            </div-->
                            <!-- End Date -->
                        </div>
                        <!--div class="blog-post-details">
                            <!-- Author Name -->
                            <!--div class="blog-post-details-item blog-post-details-item-left user-icon">
                                <i class="fa fa-user color-gray-light"></i>
                                <a href="#">Admin</a>
                            </div-->
                            <!-- End Author Name -->
                            <!-- Tags -->
                            <!--div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags">
                                <i class="fa fa-tag color-gray-light"></i>
                                <a href="#">PHP</a>,
                                <a href="#">Javascript</a>,
                                <a href="#">CoffeeScript</a>
                            </div-->
                            <!-- End Tags -->
                        <!--/div-->
                        <div class="blog-item">
                            <div class="clearfix"></div>
                            <div class="blog-post-body row margin-top-15">
                                {% if listit.locales  is empty and listit.foto  is empty %}
                                <div class="col-md-7">
                                {% else %}
                                <div class="col-md-7">
                                    {% if listit.locales %} <iframe src="{{ listit.locales }}" width="100%" height="100%" frameborder="0" style="min-height:250px;border:0" allowfullscreen></iframe>
                                    {% else %}<img class="margin-bottom-20" src="{{ asset('uploads/imeges_list/') ~listit.foto }}" alt="images">
                                    {% endif %}
                                </div>
                                <div class="col-md-5">
                                {% endif %}
                                    {% autoescape false %}
                                    {{ listit.about }}
                                    {% endautoescape %}
                                </div>
                                <!--div class="col-md-12">
                                    <blockquote class="primary">
                                        <p>
                                            <em>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat."</em>
                                        </p>
                                        <small>
                                            Someone famous in
                                            <cite title="Source Title">Source Title</cite>
                                        </small>
                                    </blockquote>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                        aliquyam erat, sed diam voluptua.</p>
                                    <p>Ut summo deserunt sit, quaeque hendrerit assentior cu mei. Sale electram nam ut. Putent perpetua reformidans ex vix, libris nostrud tractatos cu sit, est porro omnes nominati eu. Cu nullam similique complectitur
                                        eam. Viris phaedrum ullamcorper id eos.</p>
                                </div-->
                            </div>
                                <!-- End About the Author -->
                        </div>
                    </div>
            </div>
                    <!-- End Blog Post -->
        </div>
                <!-- End Main Column -->
    </div>
    <!-- === END CONTENT === -->
{% endblock %}
