{% extends 'admin.html.twig' %}

{% block body %}
    <div class="top_panel">
        <h1>Menus list <small>Добавить или редактировать адреса</small></h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_new') }}">Create a new menu</a>
                <button type="button" class="btn btn-info btn-xs" onclick="newRow()"><i class="fa fa-file"></i> Добавить</button>
                <button type="button" class="btn btn-default btn-xs" onclick="reload()"><i class="fa fa-refresh"></i> Обновить </button>
            </li>
        </ol>
    </div>
<div class="admin-content">
    <div class="table-responsive">
        <div class="table table-bordered table-hover tablesorter">
        <table>
            <thead>
                <tr>
                    <th width="70" class="header">ID <i class="fa fa-sort"></i></th>
                    <th>Name</th>
                    <th>Name_ru</th>
                    <th>Name_en</th>
                    <th>Icon</th>
                    <th>Url</th>
                    <th>Is_activated</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Keywords</th>
                    <th>Title_ru</th>
                    <th>Description_ru</th>
                    <th>Keywords_ru</th>
                    <th>Title_en</th>
                    <th>Description_en</th>
                    <th>Keywords_en</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for menu in menus %}
                <tr>
                    <td class="id"><a href="{{ path('admin_show', { 'id': menu.id }) }}">{{ menu.id }}</a></td>
                    <td>{{ menu.name }}</td>
                    <td>{{ menu.nameru }}</td>
                    <td>{{ menu.nameen }}</td>
                    <td>{{ menu.icon }}</td>
                    <td>{{ menu.url }}</td>
                    <td>{% if menu.isactivated %}Yes{% else %}No{% endif %}</td>
                    <td>{{ menu.title }}</td>
                    <td>{{ menu.description }}</td>
                    <td>{{ menu.keywords }}</td>
                    <td>{{ menu.titleru }}</td>
                    <td>{{ menu.descriptionru }}</td>
                    <td>{{ menu.keywordsru }}</td>
                    <td>{{ menu.titleen }}</td>
                    <td>{{ menu.descriptionen }}</td>
                    <td>{{ menu.keywordsen }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_show', { 'id': menu.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_edit', { 'id': menu.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}
