{% extends 'base.html.twig' %}

{% block body %}
    <h1>Activity</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ foto.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ foto.name }}</td>
            </tr>
            <tr>
                <th>Name_ru</th>
                <td>{{ foto.sizex }}</td>
            </tr>
            <tr>
                <th>Name_en</th>
                <td>{{ foto.sizey }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('Front_foto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('Front_foto_edit', { 'id': foto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
