{% extends 'base.html.twig' %}

{% block body %}
    <h1>Menu</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ menu.name }}</td>
            </tr>
            <tr>
                <th>Name_ru</th>
                <td>{{ menu.nameru }}</td>
            </tr>
            <tr>
                <th>Name_en</th>
                <td>{{ menu.nameen }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ menu.icon }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ menu.url }}</td>
            </tr>
            <tr>
                <th>Is_activated</th>
                <td>{% if menu.isactivated %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ menu.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ menu.description }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ menu.keywords }}</td>
            </tr>
            <tr>
                <th>Title_ru</th>
                <td>{{ menu.titleru }}</td>
            </tr>
            <tr>
                <th>Description_ru</th>
                <td>{{ menu.descriptionru }}</td>
            </tr>
            <tr>
                <th>Keywords_ru</th>
                <td>{{ menu.keywordsru }}</td>
            </tr>
            <tr>
                <th>Title_en</th>
                <td>{{ menu.titleen }}</td>
            </tr>
            <tr>
                <th>Description_en</th>
                <td>{{ menu.descriptionen }}</td>
            </tr>
            <tr>
                <th>Keywords_en</th>
                <td>{{ menu.keywordsen }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_edit', { 'id': menu.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
