{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}
    <div class="blog-post">
        <div class="blog-item-header">
            <h2>
                <a href="#">
                    {{ project.name }}
                </a>
            </h2>
        </div>
        <div class="blog-item">
            <div class="clearfix"></div>
            <div class="blog-post-body row margin-top-15">
                <div class="col-md-12">
                    <p class="lead">{{ project.about }}</p>
                </div>
            </div>
        </div>
        <!-- End Blog Post -->
    </div>
    {% for activity in project.activities %}
        <!-- Blog Post -->
        <div class="blog-post padding-bottom-20">
            <!-- Blog Item Header -->
            <div class="blog-item-header">
                <!-- Title -->
                <h2>
                    <a href="{{ path('Front_proj_show', { 'url': activity.url }) }}"></a>
                    {{ activity.name }}</a>
                </h2>
                <div class="clearfix"></div>
                <!-- End Title -->
                <!-- Date -->
                <div class="blog-post-date">
                    {% if activity.updatedat %}{{ activity.updatedat|date("F jS  Y")  }}
                    {% else %}{{ activity.createdat|date("F jS  Y") }}
                    {% endif %}
                </div>
                <!-- End Date -->
            </div>
            <!-- End Blog Item Header -->
            <!-- Blog Item Details -->
            <!--div class="blog-post-details"-->
                <!-- Author Name -->
                <!--div class="blog-post-details-item blog-post-details-item-left">
                    <i class="fa fa-user color-gray-light"></i>
                    <a href="#">Admin</a>
                </div-->
                <!-- End Author Name -->
                <!-- Tags -->
                <!--div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags">
                    <i class="fa fa-tag color-gray-light"></i>
                    <a href="#">Діти</a>,
                    <a href="#">Служіння</a>,
                    <a href="#"></a>
                </div-->
                <!-- End Tags -->
            <!--/div-->
            <!-- End Blog Item Details -->
            <!-- Blog Item Body -->
            <div class="blog">
                <div class="clearfix"></div>
                <div class="blog-post-body row margin-top-15">
                    <div class="col-md-5">
                        {% if activity.foto is empty  %}
                            <img class="margin-bottom-20" src="{{ asset('uploads/imeges/') ~'nophoto.jpg' }}" alt="image">
                        {% else %}
                            <img class="margin-bottom-20" src="{{ asset('uploads/imeges/') ~activity.foto[0].name }}" alt="image">
                        {% endif %}
                    </div>
                    <div class="col-md-7">
                        <p>{{ activity.about }}</p>
                        <!-- Read More -->
                        <a href="{{ path('Front_proj_show', { 'url': activity.url }) }}" class="btn btn-primary">
                            Більше
                            <i class="icon-chevron-right readmore-icon"></i>
                        </a>
                        <!-- End Read More -->
                    </div>
                </div>
            </div>
            <!-- End Blog Item Body -->
        </div>

        <!-- End Blog Item -->
    {% endfor %}
{% endblock %}
